.carousel-img {
  opacity: 0.86;
}

.carousel-title {
  font-size: 3rem;
  font-weight: bold;
}

.carousel-description {
  font-size: 1rem;
}

.carousel-caption {
  background-color: rgba(46, 42, 42, 0.212);
}